html{
    font-family: 'Dancing Script', cursive;
    font-size: 10px;
}

body{
    width: 100%;
    text-align: center;
    background-image: linear-gradient(120deg, #1766cf, #0eb5ed);
}

h1{
    color: whitesmoke;
    font-size: 8rem;
    
}


.todo1,
.todoClone {
    margin: 10px;
}


.todoClone{ 
    position: relative;
    animation-name: positions;
    animation-duration: 0.2s;
}

@keyframes positions{
    
  0% {top: -43px;}
  25%  {top: -26px;}
  50%  {top: -16px;}
  100% {top: 10px;}
   

}



.inp{
    border-radius: 30px;
    border: 3px solid;
    text-align: center;
    opacity: 80%;
    font-size: 2rem;
    padding: 4px;
    width: 30%;
    margin: 0 auto;
}


.liClone{
    display: inline-block;
    height: 22px;
    border-radius: 30px;
    border: 3px solid;
    text-align: center;
    opacity: 80%;
    font-size: 2rem;
    padding: 4px;
    width: 30%;
    margin: 0 auto;
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

.buttonPlus,
.buttonPlusClone, 
.buttonMinus,
.buttonMinusClone{
    border-radius: 200px;
    padding: 2px;
    width: 30px;
    border: 1px solid;
    text-align: center;
    opacity: 80%;
    font-size: 2rem;
    background-color: silver;
}



.buttonPlusClone:hover,
.buttonPlus:hover{
    background-color: rgba(0, 255, 21,0.5);
}

.buttonMinusClone:hover,
.buttonMinus:hover{
    background-color: rgba(255, 37, 37);
}




