@mixin displayFlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin hover {
  transition: 1s;
  transform: translateY(-2px);
  box-shadow: 1px 5px 5px 0px $color-shadow;
}

@mixin unhover {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px $color-shadow;
}

@mixin inputLayout {
  border-radius: 10px;
  height: 30px;
  width: 30rem;
  border: none;
  text-align: center;
  opacity: 80%;
  font-size: 2rem;
  padding: 4px;
  font-family: "Questrial", sans-serif;
}

@mixin buttomLayout {
  padding: 0;
  border-radius: 10px;
  width: 30px;
  opacity: 80%;
  height: 30px;
  font-size: 2rem;
  border: none;
}
