* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Dancing Script", cursive;
  font-size: 10px;
}

body {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(120deg, #1766cf, #0eb5ed);
  height: 100vh;
}

h1 {
  color: whitesmoke;
  font-size: 8rem;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerInput {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.todo1 {
  height: 500px;
}

.todo1,
.todoClone {
  margin: 9px 0;
}

.todoClone {
  animation-name: positions;
  animation-duration: 0.2s;
}

@keyframes positions {
  0% {
    top: -43px;
  }
  25% {
    top: -26px;
  }
  50% {
    top: -16px;
  }
  100% {
    top: 10px;
  }
}

.inp {
  border-radius: 10px;
  border: none;
  text-align: center;
  opacity: 80%;
  font-size: 2rem;
  padding: 4px;
  font-family: "Questrial", sans-serif;
}

.todoClone {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.liClone {
  font-family: "Questrial", sans-serif;
  position: auto;
  display: inline-block;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  border: none;
  opacity: 80%;
  font-size: 2rem;
  padding: 2px;
  background-color: whitesmoke;
}

.inp,
.liClone {
  width: 30rem;
}

.buttonPlus,
.buttonPlusClone,
.buttonMinus,
.buttonMinusClone {
  padding: 0;
  border-radius: 10px;
  width: 30px;
  opacity: 80%;
  height: 30px;
  font-size: 2rem;
  border: none;
  background-color: rgb(255, 254, 254);
}

.buttonPlusClone:hover,
.buttonPlus:hover {
  background-color: rgba(0, 255, 21, 0.5);
  color: white;
  transition: 1s;
}

.buttonMinusClone:hover,
.buttonMinus:hover {
  background-color: rgba(255, 37, 37);
  color: white;
  transition: 1s;
}

.taskDone {
  background-color: rgb(14, 238, 25);
  transition: 0.5s;
  color: white;
}

.taskFailed {
  color: red;
}

@media only screen and (max-width: 427px) {
  h1 {
    font-size: 6rem;
  }

  #val,
  .liClone {
    width: 20rem;
  }
}

@media only screen and (max-width: 341px) {
  #val,
  .liClone {
    width: 50%;
  }
}
